@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700;900&family=Staatliches&display=swap);
:root {
  /* Fonts */
  --mainFont: "Staatliches", cursive;
  --textFont: "Open Sans", sans-serif;
  --secondaryFont: "Raleway", sans-serif;

  /* colors */
  --primary: #ff5b00;
  --darkGray: #2f2e2e;
  --lightGray: #ebebeb;

  --white: #ffffff;
  --black: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-size: 62.5%; /* 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: var(--textFont);
  font-size: 1.6rem;
  line-height: 2;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--mainFont);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
  color: var(--primary);
}

h3 {
  font-size: 3.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
  text-align: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary);
}

.section {
  padding: 5rem 0;
}

/*!
 * SlickNav Responsive Mobile Menu v1.0.10
 * (c) 2016 Josh Cope
 * licensed under MIT
 */
.slicknav_btn,
.slicknav_nav .slicknav_item {
  cursor: pointer;
}
.slicknav_menu,
.slicknav_menu * {
  box-sizing: border-box;
}
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em;
  line-height: 1.125em;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 1px 3px #000;
}
.slicknav_menu .slicknav_icon {
  float: left;
  width: 1.125em;
  height: 0.875em;
  margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_icon:before {
  background: 0 0;
  width: 1.125em;
  height: 0.875em;
  display: block;
  content: "";
  position: absolute;
}
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  border-radius: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.slicknav_menu:after,
.slicknav_menu:before {
  content: " ";
  display: table;
}
.slicknav_menu:after {
  clear: both;
}
.slicknav_nav li,
.slicknav_nav ul {
  display: block;
}
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item a {
  display: inline;
}
.slicknav_nav .slicknav_row,
.slicknav_nav a {
  display: block;
}
.slicknav_nav .slicknav_parent-link a {
  display: inline;
}
.slicknav_menu {
  *zoom: 1;
  font-size: 16px;
  background: #4c4c4c;
  padding: 5px;
}
.slicknav_nav,
.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
}
.slicknav_menu .slicknav_icon-bar {
  background-color: #fff;
}
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  background-color: #222;
}
.slicknav_nav {
  clear: both;
  color: #fff;
  margin: 0;
  font-size: 0.875em;
}
.slicknav_nav ul {
  margin: 0 0 0 20px;
}
.slicknav_nav .slicknav_row,
.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
}
.slicknav_nav .slicknav_row:hover {
  border-radius: 6px;
  background: #ccc;
  color: #fff;
}
.slicknav_nav a {
  text-decoration: none;
  color: #fff;
}
.slicknav_nav a:hover {
  border-radius: 6px;
  background: #ccc;
  color: #222;
}
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}
.slicknav_brand {
  float: left;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}

.app-header {
  background-color: var(--darkGray);
  padding: 2rem 0;
}

.logo {
  display: flex;
  justify-content: center;
}

.main-menu .menu {
  display: none;
}

.main-menu a {
  color: var(--white);
  font-size: 2.8rem;
  font-family: var(--mainFont);
  padding: 0.5rem 2rem;
}

.main-menu .current_page_item {
  border-bottom: 3px solid var(--primary);
}

@media (min-width: 768px) {
  .navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-menu .menu {
    display: flex;
    gap: 2rem;
  }
}

/* Mobile Menu */
.slicknav_menu {
  background-color: var(--darkGray);
}
.slicknav_btn {
  background-color: var(--primary);
}

.slicknav_nav a {
  font-size: 2.4rem;
  text-align: center;
  font-family: var(--mainFont);
}
.slicknav_nav a:hover {
  background-color: transparent;
  color: var(--primary);
}

@media (min-width: 768px) {
  .slicknav_menu {
    display: none;
  }
}

.app-footer {
  padding: 2rem 0;
  border-top: 2px solid var(--lightGray);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-menu .menu {
  display: none;
}

.copyright {
  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;
  font-family: var(--mainFont);
  font-size: 2rem;
}

@media (min-width: 768px) {
  .footer-menu .menu {
    display: flex;
    gap: 2rem;
  }

  .footer-menu a {
    font-family: var(--mainFont);
    font-size: 2rem;
    color: var(--black);
    padding: 0.5rem 1.5rem;
  }

  .footer-menu .current_page_item {
    border-bottom: 3px solid var(--primary);
  }

  .copyright {
    flex-grow: unset;
  }
}

.page.no-sidebars {
  max-width: 80rem;
  margin: 0 auto;
}

.featured-image {
  margin-bottom: 3rem;
}

.page p {
  margin: 1em 0;
}

.page h1 {
  margin: 0 0 4rem 0;
}

@media (min-width: 768px) {
  .page.with-sidebars {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
  }

  .with-sidebars .page-content {
    flex: 0 0 60%;
  }

  .with-sidebars .sidebar {
    flex: 0 0 40%;
  }
}

/* Setup */
/* jquery */
/* Components */
.sidebar a {
  color: var(--black);
}
.sidebar .widget {
  margin-bottom: 2rem;
}
.sidebar .classes-header {
  margin-bottom: 2rem;
}

.sidebar-class {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 2rem;
  margin-bottom: 2rem;
}
.sidebar-class .class-content p {
  font-size: 1.6rem;
  font-weight: 700;
}

/* Pages */
.gallery-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 2rem;
}
.gallery-images img {
  display: block;
}
.gallery-images li:nth-child(4) {
  grid-row: span 2;
}
.gallery-images li:nth-child(7) {
  grid-row: 4/span 2;
  grid-column: 1;
}

@media (min-width: 768px) {
  .gallery-images {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery-images li:nth-child(7) {
    grid-row: 2/span 2;
    grid-column: 2;
  }
}
.wpcf7-form p {
  display: grid;
  margin: 0;
}
.wpcf7-form p br {
  display: none;
}
.wpcf7-form p span {
  width: 100%;
}
.wpcf7-form input, .wpcf7-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--lightGray);
}
.wpcf7-form .wpcf7-submit {
  background-color: var(--primary);
  text-align: center;
  font-size: 2rem;
  font-family: var(--mainFont);
  color: var(--white);
  padding: 1.2rem;
}
.wpcf7-form .wpcf7-submit:hover {
  cursor: pointer;
}
.wpcf7-form .wpcf7-not-valid-tip {
  background-color: red;
  color: var(--white);
  padding: 1rem;
}
.wpcf7-form.invalid .wpcf7-response-output {
  background-color: red;
  color: var(--white);
  border: none;
  margin: 0;
  text-align: center;
}
.wpcf7-form.sent .wpcf7-response-output {
  background-color: green;
  color: var(--white);
  border: none;
  margin: 0;
  text-align: center;
}

/* Classes */
.classes-list {
  margin-top: 4rem;
}

.card {
  margin-bottom: 4rem;
}
.card img {
  display: block;
}
.card .card-content {
  padding: 3rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  .classes-list {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
  }
  .card {
    flex: 0 0 calc(50% - 2rem);
    position: relative;
  }
  .card .gradient {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  }
  .card .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
    text-align: left;
  }
  .card .card-content a {
    color: var(--white);
  }
  .card .card-content p {
    color: var(--primary);
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
  }
}
p.content-class {
  font-weight: 700;
  font-family: var(--secondaryFont);
  font-size: 2.2rem;
  text-align: center;
}

/* Posts */
.card {
  position: relative;
}

.blog-entries {
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .blog-entries {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
  }
  .card .card-content .date-published {
    color: var(--white);
  }
}
/** Categories **/
.post-categories {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.post-categories a {
  padding: 0.5rem 2rem;
  font-size: 2.2rem;
  font-family: var(--mainFont);
  background-color: var(--primary);
  border-radius: 0.5rem;
  color: var(--white);
}

@media (min-width: 768px) {
  .post-categories {
    position: absolute;
    top: 0;
    left: 2rem;
  }
}
