
.areas-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .area {
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      background-color: rgba(0, 0, 0, 0.75);
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }

    p {
      position: absolute;
      color: var(--white);
      z-index: 1;
      font-size: 2rem;
      font-weight: 900;
    }

    img {
      height: 40rem;
      object-fit: cover;
    }
  }
}

@media (min-width: 768px) {
  .areas-container {
    grid-template-columns: repeat(4, 1fr);

    .area {
      p {
        opacity: 0;
        transition: opacity .3s ease;
      }

      &:hover {
        cursor: pointer;

        p {
          opacity: 1;
        }
      }
    }

  }
}

.classes-home-page {
  background-color: var(--lightGray);
}

/* Instructors */

.instructors-list {
  margin-top: 4rem;

  li {
    border-bottom: 1px solid var(--lightGray);
  }
}

.instructor {
  .content {
    padding: 3rem;

    h3 {
      color: var(--primary);
    }

    p {
      margin-bottom: 2rem;
    }

  }

  img {
    display: block;
    height: 350px;
    object-fit: cover;
  }

  .tag {
    background-color: var(--primary);
    padding: .5rem 2rem;
    border-radius: .5rem;
    color: var(--white);
    font-family: var(--mainFont);
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) {
  .instructors-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .instructor {
    position: relative;

    .content {
      position: absolute;
      top: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, .75);
      color: var(--white);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      opacity: 0;
      transition: opacity .3s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/* Testimonials */
.testimonials {
  background-color: var(--darkGray);
  padding: 12rem 0;

  h2 {
    color: var(--white);
  }
}

.container-testimonials {
  max-width: 80rem;
  margin: 0 auto;

  .testimonial {
    color: var(--white);

  }

  .bx-wrapper {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

}

.testimonial-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-right: 2rem;
  }

  p {
    font-weight: 700;
    color: var(--primary);
  }
}

@media (min-width: 768px) {
  .testimonial-footer {
    justify-content: flex-end;
  }
}


