*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-size: 62.5%; /* 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: var(--textFont);
  font-size: 1.6rem;
  line-height: 2;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--mainFont);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
  color: var(--primary);
}

h3 {
  font-size: 3.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
  text-align: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
