.app-footer {
  padding: 2rem 0;
  border-top: 2px solid var(--lightGray);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-menu .menu {
  display: none;
}

.copyright {
  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;
  font-family: var(--mainFont);
  font-size: 2rem;
}

@media (min-width: 768px) {
  .footer-menu .menu {
    display: flex;
    gap: 2rem;
  }

  .footer-menu a {
    font-family: var(--mainFont);
    font-size: 2rem;
    color: var(--black);
    padding: 0.5rem 1.5rem;
  }

  .footer-menu .current_page_item {
    border-bottom: 3px solid var(--primary);
  }

  .copyright {
    flex-grow: unset;
  }
}
