.front-header {
  height: 100vh;
  min-height: 65rem;

  .tagline {
    margin-top: 10rem;
    color: var(--white);

    p{
      font-size: 2rem;
    }
  }
}

@media (min-width: 768px) {
  .front-header {
    .header-grid {
      display: grid;
      height: 100%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }

    .navigation-bar {
      grid-column: 1 / 5;
    }

    .tagline {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
      margin-top: 0;

    }
  }
}