.card {
  position: relative;
}

.blog-entries {
  margin-top: 4rem;
}


@media (min-width: 768px) {
  .blog-entries {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
  }

  .card {
    .card-content {
      .date-published {
        color: var(--white);
      }
    }
  }
}

/** Categories **/
.post-categories {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;


  a {
    padding: .5rem 2rem;
    font-size: 2.2rem;
    font-family: var(--mainFont);
    background-color: var(--primary);
    border-radius: .5rem;
    color: var(--white);
  }
}

@media (min-width: 768px) {
  .post-categories{
    position: absolute;
    top: 0;
    left: 2rem;
  }
}